<div class="grid-container">
    <div class="top-bar">
      <div>
        <img src="../assets/icons/RIT_RGB_hor.svg">
        <h1>iSchool Check In System: Advisor Interface - {{advisor.firstName}} {{advisor.lastName}}</h1>
        <!--button (click)="refreshData()">Refresh Info</button-->
      </div>
      <button (click)="logout()"><img src="../assets/icons/logout_white_36dp.svg">Sign Out</button>
    </div>
    <div class="student-queue-manager">
      <h2>Students Checked In</h2>
      <div class="student-queue-stuff">
        <div class="student-item" *ngFor="let student of advisor.studentQueue; let i = index;" [ngClass]="{'meeting-student-item':meetingInProgress && meetingStudent.username == student.username}">
          <div class="student-item-bar" [ngClass]="{'selected-student':selectedStudent.username == student.username}" (click)="setSelectedStudent(i)">
            <h3>{{student.studentName}}</h3><div *ngIf="!student.appointment || !student.appointment.startTime">W</div><div *ngIf="student.appointment && student.appointment.startTime">A</div>
          </div>
          <button class="misc-button" (click)="queueMoveStudentUp(i)"><img src="../assets/icons/arrow_upward_white_36dp.svg"></button>
          <button class="misc-button" (click)="queueMoveStudentDown(i)"><img src="../assets/icons/arrow_downward_white_36dp.svg"></button>
          <button class="x-button" (click)="popupDeleteStudent(i)"><img src="../assets/icons/x_white_36dp.svg"></button>
        </div>
      </div>
      <div *ngIf="!advisor.studentQueue || !advisor.studentQueue[0]" class="none-text-area"><h1>NONE</h1></div>
    </div>
    <div class="student-info-manager">
      <h2 *ngIf="selectedStudent.studentName">{{selectedStudent.studentName}}</h2>
      <h2 *ngIf="selectedStudent.studentName && selectedStudent.studentName == '' || !selectedStudent.studentName">No Name</h2>
      <div *ngIf="selectedStudent.username">{{selectedStudent.username}}@rit.edu</div>
      <br>
      <div *ngIf="selectedStudent.timeIn">Checked in at {{getDateTimeInfo(selectedStudent.timeIn)}}</div>
      <br>
      <div class="appointment-info" *ngIf="selectedStudent.appointment && selectedStudent.appointment.startTime && selectedStudent.appointment.endTime">
        <h2>Appointment</h2>
        <div>{{getDateTimeInfo(selectedStudent.appointment.startTime)}} - {{getDateTimeInfo(selectedStudent.appointment.endTime)}}</div>
      </div>
      <div class="reason-info">
        <h2 *ngIf="selectedStudent.reasons && selectedStudent.reasons.length == 1">Reason</h2><h2 *ngIf="selectedStudent.reasons && selectedStudent.reasons.length > 1 || selectedStudent.reasons && selectedStudent.reasons.length == 0">Reasons</h2>
        <ul>
          <li *ngFor="let reason of selectedStudent.reasons">{{reason}}</li>
          <li *ngIf="selectedStudent.reasons && selectedStudent.reasons.length == 0">None</li>
        </ul>
      </div>

      <!--div class="meeting-clock" *ngIf="meetingInProgress">{{meetingDuration}}</div-->
      <button class="meeting-button green-button" *ngIf="!meetingInProgress && advisor.studentQueue && advisor.studentQueue[0]" (click)="startMeeting()">Start Meeting</button>
      <button class="meeting-button red-button" *ngIf="meetingInProgress && meetingStudent.username == selectedStudent.username" (click)="popupEndMeeting(meetingStudentIndex)">{{meetingDuration}}</button>
      <!--button class="meeting-button red-button" *ngIf="meetingInProgress && meetingStudent == selectedStudent" (click)="endMeeting()" (mouseenter)="showEndMeetingText()" (mouseleave)="stopShowingEndMeetingText()">{{meetingDuration}}</button-->
      <div *ngIf="!advisor.studentQueue || !advisor.studentQueue[0]" class="none-text-area"><h1>NONE</h1></div>
    </div>
    <div class="walk-in-hours-manager">
      <h2>My Walk-In Hours</h2>
      <form [formGroup]="walkInHoursForm" (ngSubmit)="updateWalkInInfo()">
        <div class="form-row">
          <label for="mondayStart">Monday</label>
          <input type="time" id="mondayStart" formControlName="mondayStart"> to <input type="time" id="mondayEnd" formControlName="mondayEnd"><br>
        </div>
        <div class="form-row">
          <label for="tuesdayStart">Tuesday</label>
          <input type="time" id="tuesdayStart" formControlName="tuesdayStart"> to <input type="time" id="tuesdayEnd" formControlName="tuesdayEnd"><br>
        </div>
        <div class="form-row">
          <label for="wednesdayStart">Wednesday</label>
          <input type="time" id="wednesdayStart" formControlName="wednesdayStart"> to <input type="time" id="wednesdayEnd" formControlName="wednesdayEnd"><br>
        </div>
        <div class="form-row">
          <label for="thursdaStart">Thursday</label>
          <input type="time" id="thursdayStart" formControlName="thursdayStart"> to <input type="time" id="thursdayEnd" formControlName="thursdayEnd"><br>
        </div>
        <div class="form-row">
          <label for="fridayStart">Friday</label>
          <input type="time" id="fridayStart" formControlName="fridayStart"> to <input type="time" id="fridayEnd" formControlName="fridayEnd"><br>
        </div>
        <input class="meeting-button green-button" type="submit" value="Save">
      </form>
    </div>
    <div class="popup-background-area">
      <div class="popup-box">
        <div class="popup-top-bar">{{popupTitle}}</div>
        <div class="popup-text-area">{{popupText}}</div>
        <div class="popup-buttons-area">
          <button id="popup-button-1" class="popup-button" (click)="button1Action()">{{popupButton1Text}}</button>
          <button id="popup-button-2" class="popup-button" (click)="button2Action()">{{popupButton2Text}}</button>
          <button id="popup-button-3" class="popup-button" (click)="button3Action()">{{popupButton3Text}}</button>
        </div>
      </div>
    </div>
  </div>