/* global variables */
$rit-orange: rgb(230, 113, 45);
$rit-orange-light-1: rgb(255, 126, 51);
$rit-orange-light-2: rgb(253, 137, 69);
$rit-orange-light-3: rgb(255, 154, 95);
$rit-orange-light-4: rgb(252, 171, 124);
$rit-white-orange: rgb(255, 245, 240);
$light-red: rgb(233, 83, 83);
$light-red-light-1: rgb(235, 117, 117);
$light-red-highlighted: rgb(236, 46, 46);
$light-green: rgb(77, 187, 77);
$light-green-highlighted: rgb(115, 211, 91);
$gray: gray;
$gray-highlighted: rgb(158, 158, 158);

.grid-container {
    display: grid;
    //grid-template-rows: 15% auto 11%;
    //grid-template-columns: 20px auto 20px;
    grid-template-rows: 15% auto;
    grid-template-columns: 20px auto 25% 20px;
    width: 100%;
    height: 100%;
}

.top-bar {
    grid-row: 1 / 2;
    //grid-column: 1 / 4;
    grid-column: 1 / 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $rit-orange;
    padding-bottom: 1.3vw;
}

.top-bar img {
    height: 8vw;
    width: 8vw;
    margin-left: 40px;
}

.top-bar .center-info {
    display: flex;
    flex-direction: column;
    //align-items: top;
    //justify-content: start;
    align-items: center;
    justify-content: center;
    //margin-top: 40px;
    color: white;
}

.center-info h1 {
    margin: 0;
    padding: 0;
    font-size: 2vw;
    margin-bottom: 5px;
}

.center-info h2 {
    margin: 0;
    padding: 0;
    font-size: 1vw;
}

.top-bar .last-updated-info {
    align-self: flex-start;
    display: flex;
    align-items: center;
    height: 1vw;
    padding: 10px;
    padding-left: 20px;
    background-color: white;
    color: gray;
    border-bottom-left-radius: 10px;
    font-size: 1vw;
}

.dot {
    height: 0.8vw;
    width: 0.8vw;
    margin-left: 5px;
    border-radius: 50%;
}

.green-dot {
    background-color: $light-green;
}

.red-dot {
    background-color: $light-red;
}

.advisor-area {
    display: flex;
    grid-row: 2 / 3;
    //grid-column: 1 / 4;
    grid-column: 1 / 3;
}

.advisor-box {
    flex-basis: 100%;
    flex-grow: 1;
}

.full-width {
    grid-column: 1 / 5;
}

.advisor-box:first-child {
    margin-left: 0;
}

.advisor-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $rit-orange;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.advisor-info h2 {
    display: flex;
    align-items: center;
    height: 4vw;
    text-align: center;
    //font-size: 1.5vw;
    font-size: 1.7vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.student-box {
    width: calc(100% - 0.6vw - 20px);
    margin-left: 0.3vw;
    margin-right: 0.3vw;
    margin-bottom: 0.3vw;
    padding: 10px;
    background-color: $rit-orange-light-4;
    text-align: center;
    font-size: 1.4vw;
}

div.advisor-info + .student-box {
    background-color: $light-green-highlighted;
}

.student-box:first-of-type {
    margin-left: 0.6vw;
}

.student-box:last-of-type {
    margin-right: 0.6vw;
}

.student-box h3 {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.fake-student-box {
    //margin-left: -0.3vw;
    //margin-right: -0.3vw;
    margin-left: -10px;
    margin-right: -10px;
    padding-top: 0.3vw;
    background-color: white;
}

.fake-student-box h3 {
    //margin-left: calc(0.3vw - 6px);
    //margin-right: calc(0.3vw - 6px);
    padding: 0;
    background-color: lightgray;
}

.none-box {
    width: calc(100% - 0.6vw - 20px);
    margin-left: 0.3vw;
    margin-right: 0.3vw;
    margin-bottom: 0.3vw;
    padding: 10px;
    text-align: center;
    font-size: 1.4vw;
}

.none-box h3 {
    margin: 0;
    padding: 0;
}

.advisor-img-background {
    display: flex;
    justify-content: center;
    background-color: white;
    background: linear-gradient(180deg, $rit-orange 0%, $rit-orange 50%, white 50%, white 100%);
    width: 100%;
}

.advisor-img {
    width: 9vw;
    height: 9vw;
    background-color: lightgray;
    object-fit: cover;
    box-shadow: -1.3vw -1.3vw white;
}

/*.banner-area {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    grid-row: 3 / 4;
    grid-column: 1 / 4;
    height: 100%;
    padding: 10px;
    background-color: $rit-orange;
    color: white;
    font-size: 1.5vw;
}*/

.side-banner-area {
    grid-row: 2 / 3;
    grid-column: 3 / 5;
    background-color: $rit-orange;
}

.side-banner-area img {
    width: calc(100% - 40px);
    height: auto;
    margin: 20px;
    margin-top: 4.5vw;
}