<div class="grid-container">
  <div class="top-bar">
    <h1>iSchool Check In System: Front Desk Interface</h1>
    <div class="top-bar-buttons">
      <button>Home</button>
      <button>Manage Reason Codes</button>
      <button>Sign Out</button>
    </div>
  </div>
  <div class="student-queue-manager">
    <h2 class="section-label">Student Queue Manager - {{selectedAdvisor.firstName}} {{selectedAdvisor.lastName}}</h2>
    <div class="student-queue-stuff">
      <div class="student-item" *ngFor="let student of selectedAdvisor.studentQueue">
        <h3>{{student.firstName}} {{student.lastName}}</h3><button>X</button>
      </div>
    </div>
    <button class="add-student-button">Add Student</button>
  </div>
  <div class="advisor-list-manager">
    <h2 class="section-label">Advisor List Manager</h2>
    <div class="advisor-stuff">
      <div class="advisor-list">
        <div class="advisor-item" *ngFor="let advisor of advisors; let i = index; let first = first" [ngClass]="{selectedAdvisor: first}" (click)=select(advisor,i)>{{advisor.firstName}} {{advisor.lastName}}</div>
      </div>
      <div class="advisor-info">
        <form [formGroup]="advisorInfoForm" (ngSubmit)="saveAdvisorInfo()">
          <label for="fname">First name: </label>
          <input type="text" id="fname" formControlName="fname"><br>
          <label for="lname">Last name: </label>
          <input type="text" id="lname" formControlName="lname"><br>
          <label for="email">Email: </label>
          <input type="email" id="email" formControlName="email"><br>
          <!--label for="photo">Photo ID: </label>
          <input type="file" id="photo" formControlName="photo"><br-->
          <input type="checkbox" id="meets-with-walk-ins" formControlName="meetsWithWalkIns" value="Meets with walk-ins">
          <label for="meets-with-walk-ins">Meets with walk-ins</label><br>
          <input type="submit" value="Save">
        </form>
      </div>
    </div>
  </div>
  <div class="banner-info-manager">
    <h2 class="section-label">Banner Info Manager</h2>
    <img src="">
    <p></p>
  </div>
</div>