<div class="grid-container">
  <div class="top-bar">
    <h1>iSchool Check In System: Front Desk Interface</h1>
    <div class="top-bar-buttons">
      <!--button><img src="../assets/icons/home_white_36dp.svg">Home</button-->
      <button (click)="createReasonPopup()"><img src="../assets/icons/list_alt_white_36dp.svg">Manage Reasons</button>
      <button (click)="logout()"><img src="../assets/icons/logout_white_36dp.svg">Sign Out</button>
    </div>
  </div>
  <div class="student-queue-manager">
    <h2 class="section-label" *ngIf="selectedAdvisor.firstName && selectedAdvisor.lastName">Student Queue Manager - {{selectedAdvisor.firstName}} {{selectedAdvisor.lastName}}</h2>
    <h2 class="section-label" *ngIf="selectedAdvisor.firstName && !selectedAdvisor.lastName">Student Queue Manager - {{selectedAdvisor.firstName}}</h2>
    <h2 class="section-label" *ngIf="!selectedAdvisor.firstName && selectedAdvisor.lastName">Student Queue Manager - {{selectedAdvisor.lastName}}</h2>
    <h2 class="section-label" *ngIf="!selectedAdvisor.firstName && !selectedAdvisor.lastName">Student Queue Manager</h2>
    <div class="student-queue-stuff">
      <div class="student-item" *ngFor="let student of selectedAdvisor.studentQueue; let i = index;">
        <div>
          <h3>{{student.studentName}}</h3>
        </div>
        <button class="misc-button" (click)="queueMoveStudentUp(i)"><img src="../assets/icons/arrow_upward_white_36dp.svg"></button>
        <button class="misc-button" (click)="queueMoveStudentDown(i)"><img src="../assets/icons/arrow_downward_white_36dp.svg"></button>
        <button class="x-button" (click)="popupDeleteStudent(i)"><img src="../assets/icons/x_white_36dp.svg"></button>
      </div>
      <div *ngIf="!selectedAdvisor.studentQueue[0]" class="none-text-area"><h1>NONE</h1></div>
    </div>
    <button class="add-button add-student-button"><img src="../assets/icons/add_box_white_36dp.svg">Add Student</button>
  </div>
  <div class="advisor-list-manager">
    <h2 class="section-label">Advisor List Manager</h2>
    <div class="advisor-stuff">
      <div class="advisor-list">
        <div class="advisor-item" *ngFor="let advisor of advisors; let i = index">
        <!--div class="advisor-item" *ngFor="let advisor of advisors; let i = index; let first = first"-->
          <!--div class="advisor-item-info" [ngClass]="{selectedAdvisor: first}" (click)="select(advisor, i)"-->
          <div class="advisor-item-info" (click)="select(advisor, i)">
            <img class="selected-advisor-arrow" *ngIf="advisor == selectedAdvisor" src="../assets/icons/arrow_forward_ios_white_36dp.svg">
            <h3>{{advisor.firstName}} {{advisor.lastName}}</h3>
          </div>
          <button class="misc-button" (click)="listMoveAdvisorUp(i)"><img src="../assets/icons/arrow_upward_white_36dp.svg"></button>
          <button class="misc-button" (click)="listMoveAdvisorDown(i)"><img src="../assets/icons/arrow_downward_white_36dp.svg"></button>
          <button class="x-button" (click)="popupDeleteAdvisor(i)"><img src="../assets/icons/x_white_36dp.svg"></button>
        </div>
        <div *ngIf="!advisors[0]" class="none-text-area"><h1>NONE</h1></div>
        <div class="add-advisor-button"><button class="add-button"><img src="../assets/icons/add_box_white_36dp.svg">Add Advisor</button></div>
      </div>
      <!--div class="vertical-line"></div-->
      <div class="advisor-info" *ngIf="selectedAdvisor.firstName || selectedAdvisor.lastName || selectedAdvisor.portraitURL">
        <img src="{{selectedAdvisor.portraitURL}}" alt="{{selectedAdvisor.portraitURL}}" onerror="this.src='../assets/icons/account_circle_white_36dp.svg'">
        <form [formGroup]="advisorInfoForm" (ngSubmit)="saveAdvisorInfo()">
          <div class="form-row">
            <label for="fname">First name: </label>
            <input type="text" id="fname" formControlName="fname">
          </div>
          <div class="form-row">
            <label for="lname">Last name: </label>
            <input type="text" id="lname" formControlName="lname">
          </div>
          <div class="form-row">
            <label for="portraitURL">Photo URL: </label>
            <input type="text" id="portraitURL" formControlName="portraitURL">
          </div>
          <input class="add-button" type="submit" value="Save">
        </form>
      </div>
    </div>
  </div>
  <div class="vertical-line"></div>
  <div class="banner-info-manager">
    <h2 class="section-label">Banner Info Manager</h2>
    <form [formGroup]="bannerForm" (ngSubmit)="saveBannerText()">
      <label for="bannerText">Banner text: </label>
      <textarea id="bannerText" formControlName="bannerText"></textarea>
      <div>*If the text doesn't fit in this box, it won't fit on the student queue screen!</div>
      <input class="add-button" type="submit" value="Save">
    </form>
  </div>

  <div class="popup-blur">
    <div id="confirm" class="popup-box">
      <div class="popup-top-bar">{{popupTitle}}</div>
      <div class="popup-text-area">{{popupText}}</div>
      <div class="popup-buttons-area">
        <button id="popup-button-1" class="popup-button" (click)="button1Action()">{{popupButton1Text}}</button>
        <button id="popup-button-2" class="popup-button" (click)="button2Action()">{{popupButton2Text}}</button>
        <button id="popup-button-3" class="popup-button" (click)="button3Action()">{{popupButton3Text}}</button>
      </div>
    </div>

    <div id="reason" class="popup-box reason-box">
      <div class="popup-top-bar">Manage Reason Codes</div>
      <div class="popup-reasons-main-area">
        <div class="popup-reasons-left-area">
          <div class="popup-text-area">
            <div class="popup-subtitle-area">
              <h2 class="edit-reason-subtitle" (click)="reasonSetToEditMode()">Edit Reason</h2>/<h2 class="add-reason-subtitle toggled-off" (click)="reasonSetToAddMode()">Add Reason</h2>
            </div>
            <form [formGroup]="reasonForm" (ngSubmit)="saveReason()">
              <div class="form-row">
                <label for="rname">Reason Name: </label>
                <input type="text" id="rname" formControlName="rname">
              </div>
              <!--div class="form-row">
                <label for="rcode">Reason Code: </label>
                <input type="text" id="rcode" formControlName="rcode">
              </div-->
              <div class="checkbox-row">
                <input type="checkbox" id="rappt" formControlName="rappt"><label for="rappt">Requires Appointment</label>
              </div>
              <div class="popup-buttons-area" *ngIf="addingReason">
                <input class="popup-button popup-green-button" type="submit" value="Add">
              </div>
              <div class="popup-buttons-area" *ngIf="!addingReason">
                <input class="popup-button popup-green-button" type="submit" value="Save">
                <button class="popup-button popup-red-button" (click)="deleteReason()">Delete</button>
              </div>
            </form>
          </div>
        </div>
        <div class="popup-reasons-right-area" *ngIf="!addingReason">
          <div class="popup-text-area">
            <div class="reason-item" *ngFor="let reason of reasons; let i = index" (click)="selectReason(i)">{{reason.reason}}</div>
          </div>
        </div>
      </div>
      <div class="popup-buttons-area">
        <button class="popup-button reason-button popup-gray-button" (click)="deletePopup()">Close</button>
      </div>
    </div>

    <div id="add-student" class="popup-box">
      <div class="popup-top-bar">{{popupTitle}}</div>
      <div class="popup-text-area">{{popupText}}</div>
      <div class="popup-buttons-area">
        <button id="popup-button-1" class="popup-button" (click)="button1Action()">{{popupButton1Text}}</button>
        <button id="popup-button-2" class="popup-button" (click)="button2Action()">{{popupButton2Text}}</button>
        <button id="popup-button-3" class="popup-button" (click)="button3Action()">{{popupButton3Text}}</button>
      </div>
    </div>

    <div id="add-advisor" class="popup-box">
      <div class="popup-top-bar">{{popupTitle}}</div>
      <div class="popup-text-area">{{popupText}}</div>
      <div class="popup-buttons-area">
        <button id="popup-button-1" class="popup-button" (click)="button1Action()">{{popupButton1Text}}</button>
        <button id="popup-button-2" class="popup-button" (click)="button2Action()">{{popupButton2Text}}</button>
        <button id="popup-button-3" class="popup-button" (click)="button3Action()">{{popupButton3Text}}</button>
      </div>
    </div>
  </div>
</div>