/* global variables */
$rit-orange: rgb(230, 113, 45);
$rit-orange-light-1: rgb(255, 126, 51);
$rit-orange-light-2: rgb(253, 137, 69);
$rit-orange-light-3: rgb(255, 154, 95);
$rit-orange-light-4: rgb(252, 171, 124);
$rit-white-orange: rgb(255, 245, 240);
$light-red: rgb(233, 83, 83);
$light-red-light-1: rgb(235, 117, 117);
$light-red-highlighted: rgb(236, 46, 46);
$light-green: rgb(77, 187, 77);
$light-green-highlighted: rgb(115, 211, 91);
$gray: gray;
$gray-highlighted: rgb(158, 158, 158);

.grid-container {
    display: grid;
    grid-template-rows: 10% 48.5% 10px auto 20px;
    grid-template-columns: 20px auto 10px 66% 20px;
    height: 100vh;
    width: 100vw;
}

h2 {
    display: flex;
    align-items: center;
    margin: 0;
    margin-bottom: 10px;
    height: 60px;
    width: 100%;
}

button:hover {
    cursor: pointer;
}

input[type="submit"]:hover {
    cursor: pointer;
}

// general styling for any sort of Add buttons
.add-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vw;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    background-color: $light-green;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    font-size: 1vw;
}

.add-button:hover {
    cursor: pointer;
    background-color: $light-green-highlighted;
}

.add-button:active {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25) inset;
}

// the SVG image used by the Add button
.add-button img {
    height: 75%;
    margin-right: 5px;
}

/* -------------------- TOP BAR STUFF -------------------- */
// contains page title and buttons
.top-bar {
    grid-row: 1 / 2;
    grid-column: 2 / 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// page title
.top-bar h1 {
    margin: 0;
    padding: 0;
    font-size: 1.5vw;
    //color: $rit-orange;
}

// the buttons area of the top bar
.top-bar-buttons {
    display: flex;
    gap: 20px;
    height: calc(100% - 40px);
    margin-top: 20px;
    margin-bottom: 20px;
}

// each button in the top bar buttons area
.top-bar-buttons button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 15vw;
    margin: 0;
    background-color: $rit-orange;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    font-size: 1vw;
}

.top-bar-buttons button:hover {
    background-color: $rit-orange-light-1;
}

.top-bar-buttons button:active {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25) inset;
}

// the SVG image that each top bar button uses
.top-bar-buttons button img {
    height: 70%;
    margin-right: 5px;
}

/*// the actual link area used by each top bar button
.top-bar-buttons button a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
}*/

/* -------------------- SECTION STUFF -------------------- */
// general section label styling
.section-label {
    font-size: 1.1vw;
}

/* -------------------- STUDENT QUEUE MANAGER STUFF -------------------- */
// animation for swapping student up in the queue
@keyframes swap-student-up {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-60px);
    }
}

// animation for swapping student down in the queue
@keyframes swap-student-down {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(60px);
    }
}

// the left-most area of the screen (the student queue manager)
.student-queue-manager {
    grid-row: 2 / 5;
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: $rit-white-orange;
    border: 5px solid $rit-orange;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

// the section label used by the student queue manager
.student-queue-manager h2 {
    height: auto;
    margin-top: -15px;
    padding: 15px;
    background-color: $rit-orange;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

// contains the student queue - without the section label and Add Student button
.student-queue-stuff {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 65vh;
    width: 100%;
    overflow-y: auto;
}

// scrollbar styling for the student queue
.student-queue-stuff::-webkit-scrollbar {
    width: 1em;
}
 
.student-queue-stuff::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.25);
}
 
.student-queue-stuff::-webkit-scrollbar-thumb {
  background-color: $rit-orange;
}

.student-queue-stuff::-webkit-scrollbar-thumb:hover {
    background-color: $rit-orange-light-1;
    cursor: pointer;
}

// each student item container in the student queue - including all student item buttons
.student-item {
    display: flex;
    width: calc(100% - 5px);
    margin-top: 10px;
    margin-right: 5px;
}

// the first student item container does not need any top margins, as it is the first in the list
.student-item:first-child {
    margin-top: 0;
}

// the area of each student item containing the text (essentially the student-item container without any of the buttons)
.student-item div {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    //width: calc(100% - 55px);
    width: calc(100% - 156px);
    margin-right: 2px;
    padding: 5px;
    padding-left: 10px;
    background-color: $rit-orange-light-2;
    color: white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.125);
}

// the text used in each student item
.student-item div h3 {
    margin: 0;
}

// student item miscellaneous button styling (currently used by the arrow buttons for swapping students in the queue)
.misc-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 0;
    margin-right: 2px;
    background-color: $rit-orange-light-3;
    border: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.125);
}

.misc-button:hover {
    background-color: $rit-orange-light-4;
}

.misc-button:active {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25) inset;
}

// student item X button styling
.x-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 0;
    background-color: $light-red;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.125);
}

.x-button:hover {
    background-color: $light-red-highlighted;
}

.x-button:active {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25) inset;
}

// this area is used if there are no students in the student queue
.none-text-area {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

// the 'NONE' text that appears when there are no students
.none-text-area h1 {
    font-size: 6vw;
    color: lightgray;
}

// the student queue Add Student button
.add-student-button {
    margin-top: auto;
}

/* -------------------- ADVISOR LIST MANAGER STUFF -------------------- */
// animation for swapping advisor up in the list
@keyframes swap-advisor-up {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-55px);
    }
}

// animation for swapping advisor down in the list
@keyframes swap-advisor-down {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(55px);
    }
}

// the top right area of the screen (the advisor list manager)
.advisor-list-manager {
    grid-row: 2 / 3;
    grid-column: 4 / 5;
    max-height: 48vh;
    padding: 10px;
    background-color: $rit-white-orange;
    border: 5px solid $rit-orange;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

// the section label used by the advisor list manager
.advisor-list-manager h2 {
    width: 20%;
    //height: 5vh;
    height: auto;
    margin-top: -15px;
    margin-left: -15px;
    padding: 15px;
    background-color: $rit-orange;
    color: white;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

// contains all advisor list stuff - without the section label
.advisor-stuff {
    display: flex;
    //justify-content: space-between;
    //gap: 10px;
    //height: calc(100% - 4.3vh);
    height: 90%;
}

// contains only the advisor list itself (not counting the advisor info area)
.advisor-list {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    //flex-grow: 1;
    width: 50%;
    //width: calc(50% - 5px);
    height: 100%;
    margin-right: 10px;
    overflow-y: auto;
}

// scrollbar styling for the advisor list
.advisor-list::-webkit-scrollbar {
    width: 1em;
}
 
.advisor-list::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.25);
}
 
.advisor-list::-webkit-scrollbar-thumb {
  background-color: $rit-orange;
}

.advisor-list::-webkit-scrollbar-thumb:hover {
    background-color: $rit-orange-light-1;
    cursor: pointer;
}

// each advisor item container in the advisor list - including all advisor item buttons
.advisor-item {
    display: flex;
    align-items: center;
    width: calc(100% - 10px);
    margin-top: 5px;
    margin-right: 5px;
    //padding: 10px;
    //background-color: $rit-orange;
    //color: white;
    border-radius: 5px;
}

.advisor-item:first-child {
    margin-top: 0;
}

// the small arrow used to show which advisor is selected
.selected-advisor-arrow {
    height: 1.8vh;
    //margin-bottom: 2px;
    margin-right: 5px;
}

.advisor-item-info {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 50px;
    width: calc(100% - 55px);
    //width: calc(100% - 156px);
    margin-right: 2px;
    padding: 5px;
    padding-left: 10px;
    background-color: $rit-orange-light-2;
    color: white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.125);
}

.advisor-item-info:hover {
    cursor: pointer;
    background-color: $rit-orange-light-3;
}

.add-advisor-button {
    margin-top: auto;
    margin-right: 10px;
}

/*.selectedAdvisor {
    background-color: $rit-orange-light-3;
    font-weight: bold;
}*/

.vertical-line {
    grid-row: 2 / 3;
    grid-column: 4 / 5;
    width: 5px;
    //height: 100%;
    max-height: calc(48vh + 30px);
    margin-left: auto;
    margin-right: auto;
    background-color: $rit-orange;
}

.advisor-info {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-top: -4vh;
    margin-left: 10px;
    font-size: 1vw;
}

.advisor-info img {
    height: 8vw;
    width: 8vw;
    margin-bottom: 20px;
    object-fit: cover;
    background-color: lightgray;
    //background-color: black;
    //border: 1px solid black;
    border-radius: 50%;
    //margin-right: 10px;
}

.advisor-info form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 80px);
    margin-left: 40px;
    margin-right: 40px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5px;
}

.form-row label {
    display: flex;
    align-items: center;
}

.checkbox-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5px;
}

input[type="text"] {
    flex-grow: 1;
    margin-left: 10px;
    font-size: 0.9vw;
    background-color: lightgray;
    border: none;
    padding: 3px;
}

/* -------------------- BANNER INFO MANAGER STUFF -------------------- */
.banner-info-manager {
    grid-row: 4 / 5;
    grid-column: 4 / 5;
    padding: 10px;
    background-color: $rit-white-orange;
    border: 5px solid $rit-orange;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

.banner-info-manager h2 {
    width: 20%;
    height: 5vh;
    margin-top: -15px;
    margin-left: -15px;
    padding-left: 15px;
    background-color: $rit-orange;
    color: white;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.banner-info-manager form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
    margin-top: 6vh;
}

.banner-info-manager form label {
    margin-bottom: 10px;
    font-size: 1vw;
}

#bannerText {
    width: 90%;
    //height: 100%;
    padding: 10px;
    border: 2px solid $rit-orange;
    border-radius: 5px;
    font-size: 0.9vw;
    resize: none;
}

#bannerText:focus {
    border-color: $rit-orange-light-1;
    outline-color: $rit-orange-light-1;
}

.banner-info-manager form div {
    margin-top: 10px;
}

/* -------------------- POPUP STUFF -------------------- */
@keyframes display-popup {
    from {
        opacity: 0;
        //backdrop-filter: blur(0px); // removed due to heavy performance drop
    }
    to {
        opacity: 1;
        //backdrop-filter: blur(3px);
    }
}

// for covering the entire screen whenever a popup appears
.popup-background-area {
    grid-row: 1 / 6;
    grid-column: 1 / 6;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    //opacity: 1;
    //backdrop-filter: blur(3px); // removed due to heavy performance drop
    animation: display-popup;
    animation-duration: 0.25s;
    z-index: 1;
}

#confirm {
    display: none;
}

.popup-box {
    display: flex;
    flex-direction: column;
    height: 20vh;
    width: 20vw;
    //margin: 40%;
    background-color: $rit-white-orange;
    border: 5px solid $rit-orange;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.popup-top-bar {
    display: flex;
    align-items: center;
    height: 3vh;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    margin-top: -5px;
    margin-left: -5px;
    margin-right: -5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: $rit-orange;
    color: white;
    font-size: 1vw;
}

.popup-subtitle-area {
    margin: 0;
    margin-bottom: 10px;
    font-size: 1.2vw;
}

.popup-subtitle-area h2 {
    font-size: 1.2vw;
}

.popup-text-area {
    margin: 10px;
    font-size: 0.80vw;
}

.popup-buttons-area {
    //width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin-top: auto;
}

.popup-button {
    display: none;
    width: 5vw;
    height: 4vh;
    margin-left: 5px;
    margin-right: 5px;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    font-size: 1.25vw;
}

.popup-button:active {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25) inset;
}

.popup-green-button {
    display: block;
    background-color: $light-green;
    color: white;
}

.popup-green-button:hover {
    background-color: $light-green-highlighted;
}

.popup-red-button {
    display: block;
    background-color: $light-red;
    color: white;
}

.popup-red-button:hover {
    //background-color: $light-red-highlighted;
    background-color: $light-red-light-1;
}

.popup-orange-button {
    display: block;
    background-color: $rit-orange-light-2;
    color: white;
}

.popup-orange-button:hover {
    background-color: $rit-orange-light-3;
}

.popup-gray-button {
    display: block;
    background-color: gray;
    color: white;
}

.popup-gray-button:hover {
    background-color: $gray-highlighted;
}

#add-student {
    display: none;
}

#add-advisor {
    display: none;
}

/* -------------------- POPUP REASON MANAGER STUFF -------------------- */
#reason {
    display: none;
}

.reason-box {
    height: 45vh;
    width: 45vw;
}

.popup-reasons-main-area {
    display: flex;
}

.popup-reasons-left-area {
    width: 50%;
}

.add-reason-subtitle {
    display: inline;
}

.add-reason-subtitle:hover {
    cursor: pointer;
}

.edit-reason-subtitle {
    display: inline;
}

.edit-reason-subtitle:hover {
    cursor: pointer;
}

//styling for either the clickable 'Edit Reason' or 'Add Reason' text in the reason manager popup
.toggled-off {
    color: gray;
}

.popup-reasons-right-area {
    width: 50%;
    height: 30vh;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    overflow-y: auto;
}

.reason-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding: 10px;
    padding-left: 20px;
    background-color: $rit-orange-light-1;
    color: white;
    border-radius: 20px;
}

.reason-item:hover {
    background-color: $rit-orange-light-2;
    cursor: pointer;
}

/*.selected-reason {
    background-color: $rit-orange-light-2;
}*/

// the small arrow used to show which reason is selected
.selected-reason-arrow {
    height: 0.75vw;
    margin-right: 5px;
}

// scrollbar styling for the reason popup
.popup-reasons-right-area::-webkit-scrollbar {
    width: 1em;
}
 
.popup-reasons-right-area::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.25);
}
 
.popup-reasons-right-area::-webkit-scrollbar-thumb {
  background-color: $rit-orange;
}

.popup-reasons-right-area::-webkit-scrollbar-thumb:hover {
    background-color: $rit-orange-light-1;
    cursor: pointer;
}

/* -------------------- POPUP ADD STUDENT STUFF -------------------- */
// the dimensions of the 'add student' popup box
.student-box {
    width: 30vw;
}

// makes sure the popup box content covers the entire height of the popup
.student-box .popup-text-area {
    height: 100%;
}

// formats the form in the popup box so that it covers the entire height and is a column
.student-box .popup-text-area form {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* -------------------- POPUP ADD ADVISOR STUFF -------------------- */
// the dimensions of the 'add advisor' popup box
.advisor-box {
    height: 30vh;
    width: 30vw;
}

// makes sure the popup box content covers the entire height of the popup
.advisor-box .popup-text-area {
    height: 100%;
}

// formats the form in the popup box so that it covers the entire height and is a column
.advisor-box .popup-text-area form {
    display: flex;
    flex-direction: column;
    height: 100%;
}