<div class="grid-container">
  <!-- The Top Bar -->
  <div class="top-bar">
    <h1>iSchool Check In System: Front Desk Interface</h1>
    <div class="top-bar-buttons">
      <button (click)="createReasonPopup()"><img src="../assets/icons/list_alt_white_36dp.svg">Manage Reasons</button>
      <button (click)="logout()"><img src="../assets/icons/logout_white_36dp.svg">Sign Out</button>
    </div>
  </div>

  <!-- The Student Queue Manager -->
  <div class="student-queue-manager">
    <h2 class="section-label" *ngIf="selectedAdvisor.firstName && selectedAdvisor.lastName">Student Queue Manager - {{selectedAdvisor.firstName}} {{selectedAdvisor.lastName}}</h2>
    <h2 class="section-label" *ngIf="selectedAdvisor.firstName && !selectedAdvisor.lastName">Student Queue Manager - {{selectedAdvisor.firstName}}</h2>
    <h2 class="section-label" *ngIf="!selectedAdvisor.firstName && selectedAdvisor.lastName">Student Queue Manager - {{selectedAdvisor.lastName}}</h2>
    <h2 class="section-label" *ngIf="!selectedAdvisor.firstName && !selectedAdvisor.lastName">Student Queue Manager</h2>
    <div class="student-queue-stuff">
      <div class="student-item" *ngFor="let student of selectedAdvisor.studentQueue; let i = index;">
        <div>
          <h3>{{student.studentName}}</h3>
        </div>
        <button class="misc-button" (click)="queueMoveStudentUp(i)"><img src="../assets/icons/arrow_upward_white_36dp.svg"></button>
        <button class="misc-button" (click)="queueMoveStudentDown(i)"><img src="../assets/icons/arrow_downward_white_36dp.svg"></button>
        <button class="x-button" (click)="popupDeleteStudent(i)"><img src="../assets/icons/x_white_36dp.svg"></button>
      </div>
      <div *ngIf="!selectedAdvisor.studentQueue || !selectedAdvisor.studentQueue[0]" class="none-text-area"><h1>NONE</h1></div>
    </div>
    <button *ngIf="connected" class="add-button add-student-button" (click)="createAddStudentPopup()"><img src="../assets/icons/add_box_white_36dp.svg">Add Student</button>
  </div>

  <!-- The Advisor List Manager -->
  <div class="advisor-list-manager">
    <h2 class="section-label">Advisor List Manager</h2>
    <div class="advisor-stuff">
      <div class="advisor-list">
        <div class="advisor-item" *ngFor="let advisor of advisors; let i = index">
        <!--div class="advisor-item" *ngFor="let advisor of advisors; let i = index; let first = first"-->
          <!--div class="advisor-item-info" [ngClass]="{selectedAdvisor: first}" (click)="selectAdvisor(advisor)"-->
          <div class="advisor-item-info" (click)="selectAdvisor(advisor)">
            <img class="selected-advisor-arrow" *ngIf="advisor == selectedAdvisor" src="../assets/icons/arrow_forward_ios_white_36dp.svg">
            <h3>{{advisor.firstName}} {{advisor.lastName}}</h3>
          </div>
          <!--button class="misc-button" (click)="listMoveAdvisorUp(i)"><img src="../assets/icons/arrow_upward_white_36dp.svg"></button>
          <button class="misc-button" (click)="listMoveAdvisorDown(i)"><img src="../assets/icons/arrow_downward_white_36dp.svg"></button-->
          <button class="x-button" (click)="popupDeleteAdvisor(i)"><img src="../assets/icons/x_white_36dp.svg"></button>
        </div>
        <div *ngIf="!advisors[0]" class="none-text-area"><h1>NONE</h1></div>
        <div *ngIf="connected" class="add-advisor-button"><button class="add-button" (click)="createAddAdvisorPopup()"><img src="../assets/icons/add_box_white_36dp.svg">Add Advisor</button></div>
      </div>
      <div class="advisor-info" *ngIf="selectedAdvisor.firstName || selectedAdvisor.lastName || selectedAdvisor.portraitURL">
        <img src="{{selectedAdvisor.portraitURL}}" alt="{{selectedAdvisor.portraitURL}}" onerror="this.src='../assets/icons/account_circle_white_36dp.svg'">
        <form [formGroup]="advisorInfoForm" (ngSubmit)="saveAdvisorInfo()">
          <div class="form-row">
            <label for="fname">First name: </label>
            <input type="text" id="fname" formControlName="fname" required>
          </div>
          <div class="form-row">
            <label for="mname">Middle name: </label>
            <input type="text" id="mname" formControlName="mname">
          </div>
          <div class="form-row">
            <label for="lname">Last name: </label>
            <input type="text" id="lname" formControlName="lname" required>
          </div>
          <div class="form-row">
            <label for="email">Email: </label>
            <input type="text" id="email" formControlName="email" required>
          </div>
          <div class="form-row">
            <label for="portraitURL">Photo URL: </label>
            <input type="text" id="portraitURL" formControlName="portraitURL">
          </div>
          <input class="add-button" type="submit" value="Save">
        </form>
      </div>
    </div>
  </div>
  <div class="vertical-line"></div>
  
  <!-- The Banner Info Manager -->
  <!--div class="banner-info-manager">
    <h2 class="section-label">Banner Info Manager</h2>
    <form [formGroup]="bannerForm" (ngSubmit)="saveBannerText()">
      <label for="bannerText">Banner text: </label>
      <textarea id="bannerText" formControlName="bannerText"></textarea>
      <div>*If the text doesn't fit in this box, it won't fit on the student queue screen!</div>
      <input class="add-button" type="submit" value="Save">
    </form>
  </div-->
  <div class="banner-info-manager">
    <h2 class="section-label">Banner Info Manager</h2>
    <!--form action="http://{{environment.apiUrl}}/api/announcements" method="post" enctype="multipart/form-data"-->
    <!--form [formGroup]="bannerForm" (ngSubmit)="uploadBannerImages()"-->
    <form (ngSubmit)="uploadBannerImages()">
      <label for="announcement_files">Banner images: </label>
      <!--input type="file" name="bannerFiles" multiple accept="image/*" required-->
      <input type="file" name="announcement_files" (change)="onBannerFileSelected($event)" multiple accept="image/*" required>
      <input *ngIf="connected" class="add-button" type="submit" value="Upload">
      <button *ngIf="connected" class="remove-button" (click)="clearBanner()">Clear Banner</button>
    </form>
  </div>

  <!-- The Various Popup Boxes -->
  <div class="popup-background-area">
    <!-- The Adjustable Confirmation Popup Box -->
    <div id="confirm" class="popup-box">
      <div class="popup-top-bar">{{popupTitle}}</div>
      <div class="popup-text-area">{{popupText}}</div>
      <div class="popup-buttons-area">
        <button id="popup-button-1" class="popup-button" (click)="button1Action()">{{popupButton1Text}}</button>
        <button id="popup-button-2" class="popup-button" (click)="button2Action()">{{popupButton2Text}}</button>
        <button id="popup-button-3" class="popup-button" (click)="button3Action()">{{popupButton3Text}}</button>
      </div>
    </div>

    <!-- The 'Manage Reasons' Popup Box -->
    <div id="reason" class="popup-box reason-box">
      <div class="popup-top-bar">Manage Reason Codes</div>
      <div class="popup-reasons-main-area">
        <div class="popup-reasons-left-area">
          <div class="popup-text-area">
            <div class="popup-subtitle-area">
              <h2 class="edit-reason-subtitle toggled-off" *ngIf="reasons && reasons[0]" (click)="reasonSetToEditMode()">Edit Reason</h2><span *ngIf="reasons && reasons[0]">/</span><h2 class="add-reason-subtitle" (click)="reasonSetToAddMode()">Add Reason</h2>
            </div>
            <form [formGroup]="reasonForm" (ngSubmit)="addOrSaveReason()">
              <div class="form-row" *ngIf="(reasons && reasons[0]) || addingReason">
                <label for="rname">Reason Name: </label>
                <input type="text" id="rname" formControlName="rname" required>
              </div>
              <div class="checkbox-row" *ngIf="(reasons && reasons[0]) || addingReason">
                <input type="checkbox" id="rappt" formControlName="rappt"><label for="rappt">Requires Appointment</label>
              </div>
              <div class="popup-buttons-area" *ngIf="addingReason">
                <input class="popup-button popup-green-button" type="submit" value="Add">
              </div>
              <div class="popup-buttons-area" *ngIf="connected && !addingReason">
                <input class="popup-button popup-green-button" type="submit" value="Save">
                <button class="popup-button popup-red-button" (click)="deleteReason()">Delete</button>
              </div>
            </form>
          </div>
        </div>
        <div class="popup-reasons-right-area" *ngIf="!addingReason">
          <div class="popup-text-area">
            <div class="reason-item" *ngFor="let reason of reasons; let i = index" (click)="selectReason(i)"><img class="selected-reason-arrow" *ngIf="reason == selectedReason" src="../assets/icons/arrow_forward_ios_white_36dp.svg">{{reason.name}}</div>
            <div *ngIf="!reasons[0]" class="none-text-area"><h1>NONE</h1></div>
          </div>
        </div>
      </div>
      <div class="popup-buttons-area">
        <button class="popup-button reason-button popup-gray-button" (click)="deletePopup()">Close</button>
      </div>
    </div>

    <!-- The 'Add Student' Popup Box -->
    <div id="add-student" class="popup-box student-box">
      <div class="popup-top-bar">Add Student</div>
      <div class="popup-text-area">
        <form [formGroup]="addStudentForm" (ngSubmit)="addStudent()">
          <div class="form-row">
            <label for="sname">Student Name: </label>
            <input type="text" id="sname" formControlName="name" required>
          </div>
          <div class="form-row">
            <label for="susername">Student Username: </label>
            <input type="text" id="susername" formControlName="username" required>
          </div>
          <div class="popup-buttons-area">
            <input class="popup-button popup-green-button" type="submit" value="Add">
            <button class="popup-button popup-gray-button" (click)="deletePopup()">Cancel</button>
          </div>
        </form>
      </div>
    </div>

    <!-- The 'Add Advisor' Popup Box -->
    <div id="add-advisor" class="popup-box advisor-box">
      <div class="popup-top-bar">Add Advisor</div>
      <div class="popup-text-area">
        <form [formGroup]="addAdvisorForm" (ngSubmit)="addAdvisor()">
          <div class="form-row">
            <label for="afname">First Name: </label>
            <input type="text" id="afname" formControlName="fname" required>
          </div>
          <div class="form-row">
            <label for="amname">Middle Name (Optional): </label>
            <input type="text" id="amname" formControlName="mname">
          </div>
          <div class="form-row">
            <label for="alname">Last Name: </label>
            <input type="text" id="alname" formControlName="lname" required>
          </div>
          <div class="form-row">
            <label for="aemail">Email: </label>
            <input type="text" id="aemail" formControlName="email" required>
          </div>
          <div class="form-row">
            <label for="aportraitURL">Photo URL (Optional): </label>
            <input type="text" id="aportraitURL" formControlName="portraitURL">
          </div>
          <div class="popup-buttons-area">
            <input class="popup-button popup-green-button" type="submit" value="Add">
            <button class="popup-button popup-gray-button" (click)="deletePopup()">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>