<div class="grid-container">
    <div class="top-bar">
        <img src="../assets/icons/RIT_hor_w.svg">
        <div class="center-info">
            <h1>School of Information</h1>
            <h2>Interface Picker</h2>
        </div>
        <div class="blank-div"></div>
    </div>
    <!--h2 class="picker-text">Choose an interface to view:</h2-->
    <div class="picker">
        <h2>Choose an interface to view:</h2>
        <button class="interface-button"><a routerLink="/queue"><img src="../assets/icons/view_week_white_36dp.svg">Student Queue Display</a></button>
        <button class="interface-button"><a routerLink="/management"><img src="../assets/icons/space_dashboard_white_36dp.svg">Check In Management</a></button>
        <button class="interface-button"><a routerLink="/advisor"><img src="../assets/icons/account_box_white_36dp.svg">Advisor</a></button>
        <button class="interface-button"><a routerLink="/admin"><img src="../assets/icons/analytics_white_36dp.svg">Admin Panel</a></button>
    </div>
    <div class="bottom-bar"></div>
</div>